<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% load static  %}
    <title>RealtyEducation | INNOVACIÓN EDUCATIVA</title>
    <link rel="stylesheet"    href="{% static 'core/css/style.css'        %}">
    <link rel="shortcut icon" href="{% static 'core/img/conocimiento.png' %}">
   
  </head>
  
  <body> 
    <header>
    <div id="inicio">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% static 'home' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% static '../clases' %}">Aplicaciones VR</a>
                <a class="nav-link" href="{% static '../cursos' %}">Cursos Registrados</a> <!--"cursos.html"-->
                <a class="nav-link" href="{% static '../contacto' %}">Contacto</a>
                <a class="nav-link" href="{% static '../sobre_nosotros' %}">Sobre Nosotros</a>
                <a class="nav-link" href="{% static '../form_cursos'%}">Registro de cursos</a>          
              </div>
            </div>
          </div>
        </nav>
    </div>

        <div class="row">
            <!-- col-lg = el largo , col-md = para que este a la mitad    -->
            <div class="col-lg-4 col-md-6 col-12">
                <img id="logo" src="{% static 'core/img/conocimiento.png' %}" class="img-fluid"/>
            </div>

            <div id="titulo" class="col-lg-5 col-md col">
                <h1>Reality Educacion</h1>
                <h2>Tecnologia para mejorar el aprendizaje</h2>
            </div>

        </div>

    </header>

    <main class="container-fluid">
      
      <div class="row">
        <div class="col col-md- col-lg pt-2">
          <div class="card">
            <div class="card-header bg-warning text-center">
              <span>La realidad virtual ya es una ‘realidad’ para la Educación</span>
            </div>
            <div class="card-body">
              <p>Hoy en día el uso de la Realidad Virtual en Educación (en adelante VR) está más cerca de los profesores que nunca.
                 Pocos años atrás no podíamos imaginar que una tecnología así podría descender tanto en complejidad y 
                 usabilidad llegando a introducirse en el aula, e incluso permitiendo crear contenidos propios por el profesor y por el alumno.</p>  
            </div>
          </div>
        </div>
        </div>

        
    <div class="row">
      <div class="col col-md-6 col-lg pt-2 ">
        <div class="card" style="width: 35rem;">

          <div class="card-header bg-warning"></div>

          <div class="card-body">
            <img src="{% static 'core/img/niños2.jpg'%}" class="img-fluid float-end" alt="imagen no cargada">
          </div>

        </div>        
      </div>
    </div>

      <div class="col col-md col-lg pt-2" style="width: 35rem"> <!--Align="right"-->
        <div class="card" >
          <div class="card-header bg-warning"></div>

          <div class="card-body"  >
            <img src="{% static 'core/img/VR1.webp' %}" class="img-fluid "  alt="imagen no cargada">
          </div>

        </div>    
      </div>
        <!--PUBLICIDAD OBVIAMENTE PAGADA....-->

      <img  src="{% static 'core/img/publicidad_microsoft.gif' %}" class="img-fluid pt-2" Align="right" alt="publicidad pagada"/>
    
    </main>

     <!-- footer = pie de pagina , es decir la parte de abajo bien abajo -->
    <Footer >
      

      <div class=" text-white pt-5 pb-2 ps-2 ">
      <h6>El texto está disponible bajo la Licencia Creative Commons Atribución Compartir Igual 3.0; pueden aplicarse cláusulas adicionales. 
        Al usar este sitio, usted acepta nuestros términos de uso y nuestra política de privacidad.
        RealtyEducation® es una marca registrada de la Fundación RealtyEducation, Inc., una organización sin ánimo de lucro.</h3>
    
      <h6>Política de privacidad Acerca de RealtyEducation Limitación de responsabilidad Versión para móviles Desarrolladores EstadísticasDeclaración de cookies</h6>
      </div>
      
      


    </Footer >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="{% static '../../vendor/tinymce/js/tinymce/tinymce.min.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
    
    
  </body>
</html>
